<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="header mb-64">
      <h1 class="h-1 h3-md txt-white ml-200 mb-16">
        URBNSTEP <br /><span class="h2 Brand-Story mb-48"
          >Your Step, Your Statement</span
        >
      </h1>
      <button type="button" class="btn btn-inline-block btn-green-300 ml-200">
        立即選購
      </button>
    </header>

    <section class="container py-64 py-md-32">
      <div class="row justify-center">
        <div class="mb-48 p-md-24 p32 quote mb-md-32">
          <p class="h-1 mb-12">New Arrival</p>

          <p class="h1">新品上市</p>
        </div>
      </div>
      <div class="flex align-center">
        <div class="row">
          <div class="col-6 col-md-2 mb-40">
            <div class="mb-48 mb-md-24">
              <a href="project.html">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true"
                  alt="PLATFORM 404"
                  class="mb-12 md-mb-8"
                />
                <h2 class="h4 txt-primary900 mb-4 md-mb-0">Monoverse</h2>
                <p class="h7 txt-primary900">NT$3,600</p>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-2">
            <div class="mb-48 mb-md-24">
              <a href="project.html">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true"
                  alt="PLATFORM 404"
                  class="mb-12 md-mb-8"
                />
                <h2 class="h4 txt-primary900 mb-4 md-mb-0">PLATFORM 404</h2>
                <p class="h7 txt-primary900">NT$2,600</p>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-2">
            <div class="mb-48 mb-md-24">
              <a href="project.html">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true"
                  alt="PLATFORM 404"
                  class="mb-12 md-mb-8"
                />
                <h2 class="h4 txt-primary900 mb-4 md-mb-0">Monoverse</h2>
                <p class="h7 txt-primary900">NT$3,600</p>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-2">
            <div class="mb-48 mb-md-24">
              <a href="project.html">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true"
                  alt="PLATFORM 404"
                  class="mb-12 md-mb-8"
                />
                <h2 class="h4 txt-primary900 mb-4 md-mb-0">PLATFORM 404</h2>
                <p class="h7 txt-primary900">NT$2,600</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <main>
      <section class="py-64 py-md-40">
        <div class="container">
          <div class="row flex-md-nowrap overflow-x-md-auto product-md-row">
            <div class="col-3 product-md-col">
              <div class="product-card">
                <span class="product-card-text">人氣 No.1</span>
                <img src="/assets/images/product-3.png" alt="Melty kiss" />
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
                <span class="product-card-text">人氣 No.1</span>
                <img src="/assets/images/product.png" alt="Melty kiss" />
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
                <span class="product-card-text">人氣 No.1</span>
                <img src="/assets/images/product-6.png" alt="Melty kiss" />
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
                <span class="product-card-text">人氣 No.1</span>
                <img src="/assets/images/product-4.png" alt="Melty kiss" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-48 py-md-24">
        <div class="banner">
          <h3
            class="display-2 h2-md txt-white d-md-flex flex-md-column gap-8 mb-16"
          >
            <span>URBNSTEP</span
            ><span class="h1 h3-md txt-primary300 px-24">x</span
            ><span>Kevin Chen</span>
          </h3>
          <h3 class="h2 h4-md txt-white mb-32 mb-md-24">跨界聯名，限量發售</h3>

          <p
            class="txt-lg txt-md-md txt-primary500 d-md-flex flex-md-columu gap-md-4 mb-48"
          >
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span
            ><span class="d-md-none">，</span><span>街頭能量全面引爆！</span>
          </p>
          <button type="button" class="btn btn-primary">立即搶購</button>
          <img src="/assets/images/star.svg" alt="star" class="star-img" />

          <img
            src="/assets/images/sparkle.svg"
            alt="sparkle"
            class="sparkle-img"
          />
        </div>
      </section>
      <section class="py-64 py-md-24">
        <div class="container">
          <h3 class="h2 h4-md mb-16">依系列選購</h3>
          <div class="row">
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img
                  src="/assets/images/product-6.png"
                  alt="URBN RUNNER 慢跑系列"
                />

                <div class="category-txt">
                  <h4 class="h2 h6-md mb-8">URBN RUNNER</h4>
                  <p class="h3 h6-md">慢跑系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img
                  src="/assets/images/product-11.png"
                  alt="URBN RUNNER 慢跑系列"
                />

                <div class="category-txt">
                  <h4 class="h2 h6-md mb-8">STREETMODE</h4>
                  <p class="h3 h6-md">滑板系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <img
                  src="/assets/images/product-9.png"
                  alt="URBN RUNNER 慢跑系列"
                />

                <div class="category-txt">
                  <h4 class="h2 h6-md mb-8">CHUNK DISTRICT</h4>
                  <p class="h3 h6-md">厚底系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <img
                  src="/assets/images/product-10.png"
                  alt="URBN RUNNER 慢跑系列"
                />

                <div class="category-txt">
                  <h4 class="h2 h6-md mb-8">COLLAB ZONE</h4>
                  <p class="h3 h6-md">聯名企劃</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-64 mb-48 mb-md-24">
        <div class="container">
          <h3 class="h2 mb-16">穿搭靈感</h3>
          <div class="inspiration-row overflow-x-md-auto">
            <div class="imspiration-col-4">
              <div class="inspiration-row">
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-1.png"
                    alt="穿搭靈感-1"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-2.png"
                    alt="穿搭靈感-2"
                  />
                </div>
                <div class="imspiration-col-12">
                  <img
                    src="/assets/images/inspiration-3.png"
                    alt="穿搭靈感-3"
                  />
                </div>
              </div>
            </div>
            <div class="imspiration-col-4">
              <div class="inspiration-row">
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-4.png"
                    alt="穿搭靈感-4"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-5.png"
                    alt="穿搭靈感-5"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-6.png"
                    alt="穿搭靈感-6"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-7.png"
                    alt="穿搭靈感-7"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-8.png"
                    alt="穿搭靈感-8"
                  />
                </div>
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-9.png"
                    alt="穿搭靈感-9"
                  />
                </div>
              </div>
            </div>
            <div class="imspiration-col-4">
              <div class="inspiration-row">
                <div class="imspiration-col-12">
                  <img
                    src="/assets/images/inspiration-10.png"
                    alt="穿搭靈感-10"
                  />
                </div>
              </div>
              <div class="inspiration-row">
                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-11.png"
                    alt="穿搭靈感-11"
                  />
                </div>

                <div class="imspiration-col-6">
                  <img
                    src="/assets/images/inspiration-12.png"
                    alt="穿搭靈感-12"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
